Repository IricBing/nestjs-tdengine: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add ., prettier --write "test/**/*.ts"

增加测试部分配置模块
  .env.development
  .vscode/settings.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/constants/common.constant.ts
  src/index.ts
  src/interfaces/options.interface.ts
  src/main.ts
  src/tdengine-core.module.ts
  src/tdengine.module.ts
  test/app.e2e-spec.ts
  test/app.module.ts
  test/jest-e2e.json
  test/modules/config/config.module.ts
  test/modules/config/constants/config.constant.ts
  test/modules/config/registers/tdengine.register.ts
  test/modules/config/services/config.service.ts
  test/modules/config/validations/config.validation.ts
  yarn.lock
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add ., prettier --write "test/**/*.ts"

增加部分接口代码
  .vscode/settings.json
  README.md
  src/constants/common.constant.ts
  src/constants/tdengine.constant.ts
  src/decorators/error-wrapper.decorator.ts
  src/index.ts
  src/interfaces/error-wrapper-params.interface.ts
  src/interfaces/options.interface.ts
  src/interfaces/response/base.response.interface.ts
  src/interfaces/response/database/create-database.response.interface.ts
  src/interfaces/response/database/get-all-database.response.interface.ts
  src/interfaces/response/tdengine-restful.response.interface.ts
  src/interfaces/tdengine-error.interface.ts
  src/services/database.service.spec.ts
  src/services/database.service.ts
  src/tdengine-core.module.ts
  src/tdengine.module.ts
  src/utils/iric.util.ts
  test/app.module.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add ., prettier --write "test/**/*.ts"

增加获取TDengine数据库列表功能
  docs/README.md
  src/interfaces/response/database/delete-database.response.interface.ts
  src/interfaces/response/database/get-all-database.response.interface.ts
  src/interfaces/tdengine-database-info.interface.ts
  src/services/database.service.spec.ts
  src/services/database.service.ts
  src/tdengine-core.module.ts
  src/utils/database.util.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

初步完成功能
  package.json
  src/index.ts
  src/interfaces/response/insert/insert-with-super-table.response.interface.ts
  src/interfaces/response/query/query-exec.response.interface.ts
  src/interfaces/response/super-table/create-super-table.response.interface.ts
  src/interfaces/response/super-table/delete-super-table.response.interface.ts
  src/services/database.service.spec.ts
  src/services/database.service.ts
  src/services/insert.service.spec.ts
  src/services/insert.service.ts
  src/services/query.service.spec.ts
  src/services/query.service.ts
  src/services/super-table.service.spec.ts
  src/services/super-table.service.ts
  src/tdengine-core.module.ts
  src/utils/format.util.ts
  src/utils/query.util.ts
  yarn.lock
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

修改值类型bug
  package.json
  src/services/insert.service.spec.ts
  src/services/insert.service.ts
  src/services/query.service.spec.ts
  src/types.ts
  src/utils/iric.util.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

修改部分测试用例，部分接口支持默认参数
  src/services/database.service.spec.ts
  src/services/database.service.ts
  src/services/super-table.service.spec.ts
  src/services/super-table.service.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

增加普通表部分操作
  .vscode/launch.json
  README.md
  docs/README.md
  package.json
  src/index.ts
  src/interfaces/response/table/create-table.response.interface.ts
  src/interfaces/response/table/delete-table.response.interface.ts
  src/interfaces/response/table/find-all-table.response.interface.ts
  src/services/super-table.service.spec.ts
  src/services/table.service.spec.ts
  src/services/table.service.ts
  src/tdengine-core.module.ts
  src/utils/table.util.ts
  test/app.module.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add ., prettier --write "test/**/*.ts"

修改数据插入时间问题
  package.json
  src/interfaces/response/insert/insert.response.interface.ts
  src/services/insert.service.ts
  src/utils/iric.util.ts
  tsconfig.json
  yarn.lock
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

增加log功能
  .env.development
  README.md
  src/interfaces/options.interface.ts
  src/services/database.service.spec.ts
  src/services/insert.service.spec.ts
  src/services/query.service.spec.ts
  src/services/super-table.service.spec.ts
  src/tdengine-core.module.ts
  test/app.module.ts
  test/modules/config/registers/tdengine.register.ts
  test/modules/config/services/config.service.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add ., prettier --write "test/**/*.ts"

修改包版本
  package.json
Due: none

增加find last one功能
  .prettierrc
  package.json
  src/index.ts
  src/interfaces/response/find/find-last-one.response.interface.ts
  src/services/find.service.spec.ts
  src/services/find.service.ts
  src/services/insert.service.spec.ts
  src/services/insert.service.ts
  src/services/query.service.spec.ts
  src/tdengine-core.module.ts
  src/utils/find.util.ts
  src/utils/format.util.ts
  src/utils/query.util.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

增加获取数量方法
  src/interfaces/response/query/query-count.response.interface.ts
  src/services/query.service.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

修复获取数量方法返回bug
  package.json
  src/services/query.service.ts
  src/utils/query.util.ts
Due: prettier --write "src/**/*.ts", cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix, git add .

Path conditions:
  prettier --write "src/**/*.ts": any of: src/**/*.ts
  cross-env NODE_ENV=production eslint "{src,apps,libs,test}/**/*.ts" --fix: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  git add .: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  prettier --write "test/**/*.ts": any of: test/**/*.ts
